* {
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 500px;
  height: 350px;
}

.green {
  flex: 1;
  background-color: #51d400;
  display: none;
}

.yellow {
  flex: 1;
  background-color: #ffd62a;
}

.purple {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: #b02aff;
}
