.container {
  display: flex;
  flex-direction: row-reverse;
}

.item {
  width: 200px;
  height: 200px;
}

.green {
  flex: 1;
  background-color: #51d400;
}

.yellow {
  flex: 2;
  background-color: #ffd62a;
}

.purple {
  flex: 1;
  background-color:#b02aff;
}
